<div class="container home-page">

  <div class="row">
    <div class="welcome">
      {{ WelcomeMessage }}
    </div>
  </div>

  <div class="row">
    <div class="goto-app">
      <a class="goto-login" href="#!/login">
        <i class="fa fa-sign-in" aria-hidden="true"></i>  Login
      </a>
    </div>
    <div class="goto-schedule">
      <a href="#!/jobschedule"><i class="fa fa-braille" aria-hidden="true"></i> Job Schedule</a>
      <a class="goto-profile" href="#!/profile"><i class="fa fa-user" aria-hidden="true"></i> Profile</a>
    </div>
  </div>

  <div class="row">

    <div class="new_version">
      <a id="new_version" href="">New Version is Available ! </a>
    </div>

  </div>

</div>
